<h2>Importing Data</h2>

In [4]:
import pandas as pd

In [13]:
df = pd.read_csv('Iris_dataset.csv')

In [14]:
df.head(8)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa
5            5.4           3.9            1.7           0.4  Iris-setosa
6            4.6           3.4            1.4           0.3  Iris-setosa
7            5.0           3.4            1.5           0.2  Iris-setosa

In [15]:
df.tail(4)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

In [16]:
json_df = pd.read_json('posts.json')

In [17]:
json_df.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...

In [18]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [24]:
l = [1,2,3,4,5,6,7,8]
l[1:4]

[2, 3, 4]

In [25]:
df.iloc[2:5]

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [26]:
shorter_df = df.iloc[:100]

In [27]:
len(shorter_df)

100

In [31]:
shorter_df.to_csv('shorter_iris_csv.csv', index=False)

In [32]:
json_df = json_df.iloc[5:7]

In [35]:
json_df.to_json('saved_jsonsplit.json', orient='split')
json_df.to_json('saved_jsonrecords.json', orient='records')
json_df.to_json('saved_jsonindex.json', orient='index')

In [43]:
from faker import Faker
import faker_commerce

fake = Faker()
fake.add_provider(faker_commerce.Provider)

# Generate a single product name
print(fake.ecommerce_name())

Towels